
body {
    background-image: url("assets/images/guess image.jpg");
    padding: 25px;
    background-repeat: no-repeat;
    background-size:auto;
}
     
  }



  .letter {
    width: 30px;
    height: 30px;
    border-style: solid;
    padding: 2px;
    float: left;
    margin: 2px;
  }